USE [master]
GO
/****** Object:  Database [RecommenderDB]    Script Date: 28/03/2026 2:42:49 CH ******/
CREATE DATABASE [RecommenderDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecommenderDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RecommenderDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecommenderDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RecommenderDB_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecommenderDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecommenderDB]
GO
/****** Object:  User [KhangPham]    Script Date: 28/03/2026 2:42:50 CH ******/
CREATE USER [KhangPham] FOR LOGIN [KhangPham] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ADMIN]    Script Date: 28/03/2026 2:42:50 CH ******/
CREATE USER [ADMIN] FOR LOGIN [ADMIN] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [KhangPham]
GO
ALTER ROLE [db_owner] ADD MEMBER [ADMIN]
GO
/****** Object:  Table [dbo].[AdminTrending]    Script Date: 28/03/2026 2:42:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminTrending](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[ItemTitle] [nvarchar](255) NOT NULL,
	[ItemImage] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemStats]    Script Date: 28/03/2026 2:42:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemStats](
	[ItemID] [nvarchar](100) NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[Views] [int] NULL,
	[Likes] [int] NULL,
	[Dislikes] [int] NULL,
	[AvgRating] [float] NULL,
	[RateCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[ItemType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaylistItems]    Script Date: 28/03/2026 2:42:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlaylistID] [int] NOT NULL,
	[ItemID] [nvarchar](100) NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[ItemTitle] [nvarchar](255) NULL,
	[ItemImage] [nvarchar](max) NULL,
	[AddedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 28/03/2026 2:42:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[PlaylistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PlaylistName] [nvarchar](100) NOT NULL,
	[IsPublic] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlaylistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInteractions]    Script Date: 28/03/2026 2:42:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInteractions](
	[InteractionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ItemID] [nvarchar](100) NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[ActionType] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InteractionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/03/2026 2:42:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[BirthYear] [int] NULL,
	[Gender] [nvarchar](20) NULL,
	[Role] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[BanReason] [nvarchar](255) NULL,
	[IsOnboarded] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Watchlist]    Script Date: 28/03/2026 2:42:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Watchlist](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[ItemTitle] [nvarchar](255) NULL,
	[ItemImage] [nvarchar](max) NULL,
	[AddedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserInteractions_History]    Script Date: 28/03/2026 2:42:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserInteractions_History] ON [dbo].[UserInteractions]
(
	[UserID] ASC,
	[ActionType] ASC
)
INCLUDE([ItemID],[ItemType],[CreatedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserInteractions_ItemStats]    Script Date: 28/03/2026 2:42:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserInteractions_ItemStats] ON [dbo].[UserInteractions]
(
	[ItemID] ASC,
	[ItemType] ASC,
	[ActionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserInteractions_Optimize]    Script Date: 28/03/2026 2:42:50 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserInteractions_Optimize] ON [dbo].[UserInteractions]
(
	[UserID] ASC,
	[ActionType] ASC
)
INCLUDE([ItemID],[ItemType],[CreatedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminTrending] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ItemStats] ADD  DEFAULT ((0)) FOR [Views]
GO
ALTER TABLE [dbo].[ItemStats] ADD  DEFAULT ((0)) FOR [Likes]
GO
ALTER TABLE [dbo].[ItemStats] ADD  DEFAULT ((0)) FOR [Dislikes]
GO
ALTER TABLE [dbo].[ItemStats] ADD  DEFAULT ((0.0)) FOR [AvgRating]
GO
ALTER TABLE [dbo].[ItemStats] ADD  DEFAULT ((0)) FOR [RateCount]
GO
ALTER TABLE [dbo].[PlaylistItems] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Playlists] ADD  DEFAULT ((0)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[Playlists] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserInteractions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsOnboarded]
GO
ALTER TABLE [dbo].[Watchlist] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[PlaylistItems]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistItems_Playlists] FOREIGN KEY([PlaylistID])
REFERENCES [dbo].[Playlists] ([PlaylistID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistItems] CHECK CONSTRAINT [FK_PlaylistItems_Playlists]
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD  CONSTRAINT [FK_Playlists_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Playlists] CHECK CONSTRAINT [FK_Playlists_Users]
GO
ALTER TABLE [dbo].[UserInteractions]  WITH CHECK ADD  CONSTRAINT [FK_UserInteractions_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInteractions] CHECK CONSTRAINT [FK_UserInteractions_Users]
GO
ALTER TABLE [dbo].[Watchlist]  WITH CHECK ADD  CONSTRAINT [FK_Watchlist_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Watchlist] CHECK CONSTRAINT [FK_Watchlist_Users]
GO
USE [master]
GO
